.*

# autogen
*.yy.*
*.gen.*
*.js
*.log
ontleed/taal.c
ontleed/taal.h

goo/www/index/taal.nl.html
goo/www/index/taal.en.html

*.output
bin/
troep/
asm/xcb
a.s
a.js
*.so
*.dll
*.elf
*.out
*.o

*.stackdump
