.*

# autogen
*.yy.*
*.gen.*
*.log
ontleed/taal.c
ontleed/taal.h

goo/www/index.nl.html
goo/www/index.en.html
goo/www/index.html
goo/www/en
goo/www/nl

*.output
bin/
troep/
asm/xcb
a.s
a.js
*.so
*.dll
*.elf
*.out
*.o

*.stackdump
