* {
	background: black;
	color: white;
	border: 0;
	padding: 0;
	margin: 0;
}

body,html {
	height: 100%;
	width: 100%;
}

#toolbar {
	width: auto;
	height: 70pt;
	background: #222;
}

.tool {
	width: 70pt;
	height: 70pt;
	float: left;
	display: inline;
}

.tool:nth-child(1) {
	background: blue;
}

.tool:nth-child(2) {
	background: red;
}

.tool:nth-child(3) {
	background: green;
}

.tool:nth-child(4) {
	background: yellow;
}


#tree {
	width: 70pt;
	display: inline-block;
	background: #220;
	height: calc(100% - 70pt);
}

.panel {
	display: inline-block;
	width: calc(50% - 70pt);
	height: calc(100% - 70pt);
}

.panel:nth-child(1) {
	background: green;
}

.panel:nth-child(2) {
	background: red;
}
