html {
	background: black;
	color: white;
	height: 100%;
	font-family: verdana;
	font-size: 12pt;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

textarea {
	width: 0;
	height: 0;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
}

.lua-error { background-color: #900; }

.plus { color: red; }

.tree {
	width: 150px;
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #222;
}

.view {
	display: inline-block;
	width: calc(100% - 150px);
	height: 100%;
}

.CodeMirror {
	height: 100%;
	width: 100%;
}

.edit, .out {
	display: inline-block;
	width: calc(50% - 3px);
	float: left;
	height: 100%;
}
.edit { background: #200; }
.out { background: #020; overflow: auto; }

.lua-error-message {
	float: right;
	height: 0;
	color: orange;
	font-weight: bold;
	font-style: italic;
}

/* tree !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.branch {
	cursor: pointer;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none; 
}

.touch { color: cyan; float: left; padding-left: 5px;}
.dir { color: yellow; float: left; clear: left;}
.file { color: white; clear: left;}

.selected {
	background-color: blue;
}